<title>{% block title %}{% endblock %}</title>

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/homepage.css' %}" />
</head>
<body>
<div id="hed">
<h1>Welcome in Form</h1>
</div>
<div id="led">
<a href="signup"><h3>Signup</h3></a>
</div>
</body>
</html>